$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$color-teal-base: #f5f0e1;
$black: #111;

body {
    background-color: $color-teal-base;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

svg {
    background-color: floralwhite;
}
div.container , div.btn-container{
    diplay: flex;
    flex-direction:  column;
}
div.container div.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
}

div.btn-container div.row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 4px;
}

div.btn-container div.row.toplevel {
    margin-top: 24px;
}

.mapapp {
    border: solid $black 1px;
}

text.maplabel {
    color: $black;
}

label.slider {
    margin: 12px;
    display: block;
}

div.badday {
    color: red;
    min-height: 20px;
}
div.goodday{
    min-height: 20px;
}
.widget,.controller,.col {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    max-width:551px;
    min-width:400px;
}


.enter {
    font: bold 20px monospace;
    fill: green;
}

.update {
    font: bold 20px monospace;
    fill: red;
}
.exit {
    font: bold 20px monospace;
  fill: brown;
}

g.grid {
    fill: shade($color-teal-base, 20%);
    fill-opacity: 0.5;
    stroke-width: 0;
    stroke-opacity: 0;
}
path.grid {
}

.grid:hover {
}
.grid.colored:hover {
    stroke-opacity: 0.5;
}
.grid.active {
    fill: #449;
}
.grid.active:hover {
    fill: #e4f;
}

rect {
    fill: $color-teal-base;
    fill-opacity: 0.9;
}


.btn.active {
    border-color : #000;
}


@import 'datepicker'
