$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import 'utilities';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$color-teal-base: #f5f0e1;
$black: #111;
$color-gray:  #999;

body {
    background-color: $color-teal-base;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

svg {
    background-color: floralwhite;
}
div.container , div.btn-container{
    diplay: flex;
    flex-direction:  column;
}
div.container div.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
}

div.container div.daterow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

div.btn-container div.row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 4px;
}

div.btn-container div.row.toplevel {
    margin-top: 24px;
}

.mapapp svg {
    border: solid $black 1px;
}

text.maplabel {
    color: $black;
}

label.slider {
    margin: 5px 5px 2px 2px;
}

label.slider.slider-disabled {
    color: $color-gray;
}

div.badday {
    color: red;
    min-height: 20px;
}
div.goodday{
    min-height: 20px;
}
.widget,.controller,.col {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    max-width:551px;
    min-width:400px;
}


.enter {
    font: bold 20px monospace;
    fill: green;
}

.update {
    font: bold 20px monospace;
    fill: red;
}
.exit {
    font: bold 20px monospace;
  fill: brown;
}

g.grid {
    fill: shade($color-teal-base, 20%);
    stroke-width: 0;
    stroke-opacity: 0;
}

path.grid {
}


.grid:hover {
}
.grid.colored:hover {
    stroke-opacity: 0.9;
}
.grid.active {
    fill: #449;
}
.grid.active:hover {
    fill: #e4f;
}

rect {
    fill: $color-teal-base;
    fill-opacity: 0.9;
}

.bar rect {
    fill:steelblue;
}
.bar text {
    fill: $black;
    font: 10px sans-serif;
}

.btn.active {
    border-color : #000;
    border-width : 1.1px;
}

button.btn.animate {
    margin-left: 10px;
}

div.hours {
    display: inline-block;
    max-width: 5em;
}


.disabled-date {
    position: relative;
    display: inline-block;
    max-width: 150px;
    margin: 0px 10px 0px 0px;
}

.jumbotron {
    border-radius: 20px;
    box-shadow: 0px 2px 5px 1px rgba(1, 0, 0, 0.3);
}



.axis {
  font: 10px sans-serif;
}

.yaxis-caption {
  text-anchor: end;
  font: 12px sans-serif;
}

.xaxis-caption {
  text-anchor: middle;
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis--y .tick:not(.tick--one) line,
.axis--x .tick:not(.tick--one) line {
  stroke-opacity: .35;
}


@import 'datepicker';

@import 'navbanner';
